html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Ocultar botones de cerrar predeterminados de mapas */
.leaflet-popup-close-button {
  display: none !important;
}

.gm-ui-hover-effect {
  display: none !important;
}
